<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>{{ tilte or "Thongtinluadao - Hãy luôn là người tiêu dùng thông thái" }}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <!-- add to homescreen for chrome on android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="{{ url_for('static', filename="img/android-desktop.png") }}">

        <!-- add to homescreen for safari on ios -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="material design lite">
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename="img/ios-desktop.png") }}">

        <!-- tile icon for win8 (144x144 + tile color) -->
        <meta name="msapplication-tileimage" content="{{ url_for('static', filename="img/touch/ms-touch-icon-144x144-precomposed.png") }}">
        <meta name="msapplication-tilecolor" content="#3372df">

        <link rel="shortcut icon" href="{{ url_for('static', filename="img/favicon.png") }}">

        <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
        <!--
             <link rel="canonical" href="http://www.example.com/">
           -->
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic" type="text/css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename="css/styles.css") }}">
        {% block css %}
        {% endblock %}
    </head>

    <body>
        <div class="body-container">
            <div class="top-head">
                <header class="header">
                    <div class="row">
                        <div class="medium-4 small-12 columns">
                            <a href="#" title="Hashnode Home" class="logo">
                                <img src="{{ url_for('static', filename="img/Hashnode-logo-flat.png") }}">
                            </a>
                        </div>
                        
                        <div class="medium-8 small-12 header-actions columns">
                            <div class="login-component right">
                                <a href="#" class="main-login-button">
                                    <i class="mdi mdi-github-circle"></i>
                                    <span> Login with GitHub</span>
                                </a>

                                <a href="#" class="more-option">
                                    <i class="mdi mdi-chevron-down"></i>
                                </a>
                            </div>
                            
                            <ul class="inline-list header-links right">
                                <li class="hide-for-small-only">
                                    <a href="#">
                                        <i class="mdi mdi-magnify"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>

            <div class="content">
                <div class="content-area">
                    {% block home_banner %}
                    <div class="homepage-banner">
                        <div class="row small-collapse">
                            <div class="medium-12 column">
                                <div class="banner-container">
                                    <div class="gradient-layer"></div>
                                    <div class="text-layer">
                                        <div class="text-wrapper">
                                            <h2>A community for software developers.</h2>
                                            <h3>Discuss, Share, Connect and Hang out.</h3>
                                            <p>
                                                <a href="#" class="btn-started">Join the Party!</a>
                                                <a href="#" class="btn-started transparent">
                                                    <span>5 reasons to join </span>
                                                    <i class="mdi mdi-chevron-right"></i>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}

                    <div class="row">                        
                        <!-- Left sidebar -->
                        {% block left_sidebar %}
                        <div class="medium-2 hide-for-small-only column left-navigation">
                            <ul class="list-nav">
                                <li>
                                    <a class="active" href="#">
                                        <i class="mdi mdi-earth"></i>
                                        <span>Explore</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="#">
                                        <i class="mdi mdi-earth"></i>
                                        <span>Explore</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="#">
                                        <i class="mdi mdi-earth"></i>
                                        <span>Explore</span>
                                    </a>
                                </li>
                                                 
                            </ul>
                        </div>
                        {% endblock %}
                        <!-- End left sidebar -->

                        <!-- Content -->
                        {% block content %}                        
                        {% endblock %}
                        <!-- End content -->

                        <!-- Right sidebar -->
                        {% block right_sidebar %}
                        <div class="medium-3 column right-sidebar home-sidebar">
                            <div class="sidebar-widget trending-nodes">
                                <div class="widget-header">
                                    <h3>Category</h3>
                                </div>
                                <ul class="list-unstyled trending-nodes-list">
                                    <li class="active">
                                        <a href="#">
                                            <div class="row">
                                                <div class="small-9 column">Programming</div>
                                                <div class="small-3 symbol-col column">
                                                    <i class="mdi mdi-menu-up"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="row">
                                                <div class="small-9 column">Programming</div>
                                                <div class="small-3 symbol-col column">
                                                    <i class="mdi mdi-menu-up"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="row">
                                                <div class="small-9 column">Programming</div>
                                                <div class="small-3 symbol-col column">
                                                    <i class="mdi mdi-menu-up"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="row">
                                                <div class="small-9 column">Programming</div>
                                                <div class="small-3 symbol-col column">
                                                    <i class="mdi mdi-menu-up"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="company-widget undefined">
                                <p>© 2016 · Hashnode · LinearBytes Inc.</p>
                                <p>
                                    <a href="#">About</a>
                                    <span> </span>
                                    <a href="#">Terms</a>
                                    <span> </span>
                                    <a href="#">Privacy</a>
                                    <span> </span>
                                    <a href="#" target="_Blank">Report 2015</a>
                                </p>
                            </div>
                        </div>
                        {% endblock %}
                        <!-- End right sidebar -->
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename="js/modernizr.js") }}"></script>
        {% block js %}
        {% endblock %}
    </body>    
</html>