{% extends "base.html" %}

<!-- Left sidebar -->
{% block left_sidebar %}
<div class="medium-1 left-minified-column column">
    <ul class="list-nav minified">        
        <li>
            <a class="active" href="#">
                <i class="mdi mdi-earth"></i>
                <div class="nav-tooltip">Explore</div>
            </a>
        </li>
        <li>
            <a class="" href="#">
                <i class="mdi mdi-earth"></i>
                <div class="nav-tooltip">Explore</div>
            </a>
        </li>
        <li>
            <a class="" href="#">
                <i class="mdi mdi-earth"></i>
                <div class="nav-tooltip">Explore</div>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
<!-- End left sidebar -->

<!-- Content -->
{% block content %} 
<div class="medium-8 column single-post-view">
    <!-- Post info -->
    <div class="post-card single-post-card">
        <div class="post-header">
            <div class="post-mod-controls">
                <a href="">
                    <i class="mdi mdi-menu-down"></i>
                </a>
            </div>

            <!-- Info first -->
            <ul class="inline-list post-details">
                <li class="">
                    <a class="creator-photo" href="#">
                        <img src="https://res.cloudinary.com/hashnode/image/upload/w_70,h_70,c_thumb,g_face/v1452968258/uoutywnyr8bydb8ur5a6.png">
                    </a>
                </li>

                <li>
                    <a href="#" class="creator-name">Robert</a>
                </li>

                <li>
                    <p>
                        <span>asked</span>
                        <span> a </span>
                        <span>question</span>
                    </p>
                </li>

                <li>
                    <p>·</p>
                </li>

                <li class="post-datetime">
                    <a href="#">9 hours ago</a>
                </li>
            </ul>
            <!-- Emd info first -->

            <p class="author-tagline">
                <a href="#" class="creator-username">@robertsx</a>
                <span>
                    <span> · </span>
                    <span>Coder and Dreamer</span>
                </span>
            </p>            
            <h1>
                <a href="#">Is Node.js compiled or interpreted language?</a>
            </h1>
        </div>

        <div class="post-meta-desc">
            <div itemprop="description">
                <p>I was going through the docs and couple of answers here n there. I noticed that V8 compiles our code into machine code. So, is Node.js interpreted or compiled?</p>
            </div>
        </div>

        <div class="post-tags">
            <ul class="inline-list">
                <li>
                    <a href="#">Programming</a>
                </li>
                <li>
                    <a href="#">Nodejs</a>
                </li>
            </ul>
        </div>

        <div class="post-footer">
            <ul class="inline-list post-actions left">
                <li>
                    <a href="#" class="vote-btn">
                        <i class="mdi mdi-arrow-up-bold"></i>
                        <span>3</span>
                    </a>
                </li>
                
                <li>
                    <a href="#" class="vote-btn down-vote-btn">
                        <i class="mdi mdi-arrow-down-bold"></i>
                    </a>
                </li>
            </ul>

            <div>
                <ul class="right inline-list post-actions">
                    <li>
                        <a href="#" title="Post Activity" class="post-footer-action">
                            <i class="mdi mdi-pulse"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" title="Add to collection" class="post-footer-action">
                            <i class="mdi mdi-bookmark-outline-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End post info -->

    <!-- Write comment -->
    <div class="write-comment-card">
        <div class="write-header">
            <p>
                <i class="mdi mdi-comment-text"></i>
                <span> </span>
                <span>Write</span>
                <span> </span>
                <span>answer</span>
            </p>
        </div>

        <div class="write-toolbar show-toolbar">
            <div>
                <input style="display:none;" data-reactid=".1jkqc9yoq2o.2.0.0.1.1.1.0.0" type="file">
                <ul class="inline-list">
                    <li>
                        <a href="#">
                            <i class="mdi mdi-format-bold"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="mdi mdi-format-italic"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="mdi mdi-link"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="mdi mdi-format-quote"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="mdi mdi-code-tags"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="mdi mdi-file-image"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="mdi mdi-format-list-numbers"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="mdi mdi-format-list-bulleted"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="mdi mdi-markdown"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="write-container">
            <textarea placeholder="Start writing..." style="overflow: hidden; word-wrap: break-word; height: 150px;"></textarea>
            <a href="#" class="fab-submit">
                <i class="mdi mdi-send"></i>
            </a>
        </div>
    </div>
    <!-- End write comment -->

    <!-- Comment -->
    <div class="list-comment">
        <div class="response-card">
            <div class="response-header">
                <div class="post-mod-controls">
                    <a href="#" class="post-mod-button">
                        <i class="mdi mdi-menu-down"></i>
                    </a>
                </div>

                <ul class="inline-list post-details">
                    <li class="">
                        <a href="#" class="creator-photo">
                            <img src="https://res.cloudinary.com/hashnode/image/upload/w_70,h_70,c_thumb,g_face/v1446708192/t7cwm0uofcf4qvyhebtp.jpg" class="">
                        </a>
                    </li>

                    <li>
                        <a href="#" class="creator-name">Denny Trebbin</a>
                    </li>

                    <li>
                        <p>·</p>
                    </li>

                    <li>
                        <a href="#">7 hours ago</a>
                    </li>
                </ul>

                <p class="author-tagline">
                    <a href="#" class="creator-username">@fibric</a>
                    <span>
                        <span> · </span>
                        <span>node.js member. hacking web &amp; mobile. love pixel perfect design. hate quick &amp; dirty. conjuring in germany. kid of the 80s.</span>
                    </span>
                </p>
            </div>

            <div class="response-desc">
                <div>
                    <p>It's both and more.</p>
                    <p>V8 is a VirtualMachine basically which has an interpreter and multiple compilers and optimizers.</p>
                    <p>The JS code will be compiled directly into machine code. An optimizer is trying to find the most aggressive optimization(s). In each of those steps, the output gets stored in a cache. The code will execute and on failure, a previous optimized or compiled code will be executed from the cache instead. V8 can re-order steps when certain code fragments are identified and known to perform well. The compiler and optimizer are guarded by type checkers to pick to most efficient type. Int8 for small numbers for example, not the wasting doubles. Only in the case of all cache steps can't be executed an​d/or the types of variables can't be determined then the code is interpreted.</p>
                </div>
            </div>

            <div class="response-footer">
                <ul class="inline-list response-actions left">
                    <li>
                        <a href="#" class="vote-btn">
                            <i class="mdi mdi-arrow-up-bold"></i>
                            <span>&nbsp;</span>
                            <span>3</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="vote-btn down-vote-btn">
                            <i class="mdi mdi-arrow-down-bold"></i>
                        </a>
                    </li>
                    
                    <li class="appreciate-handle">
                        <a href="#" class="response-link">
                            <img src="https://res.cloudinary.com/hashnode/image/upload/w_80/v1447764058/static_imgs/certificate.png">
                            <span> Appreciate</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" class="response-link">
                            <i class="mdi mdi-reply-all"></i>
                            <span> Reply</span>
                        </a>
                    </li>
                </ul>

                <ul class="right inline-list response-actions">
                    <li>
                        <a href="#" title="Response Activity" class="post-footer-action">
                            <i class="mdi mdi-pulse"></i>
                        </a>
                    </li>

                    <li>
                        <a title="Share" href="#" class="share-btn">
                            <i class="mdi mdi-share-variant"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End comment -->
</div>
{% endblock %}
<!-- End content -->

<!-- Right sidebar -->
{% block right_sidebar %}
<div class="medium-3 column right-sidebar home-sidebar">
    <div class="sidebar-widget trending-nodes">
        <div class="widget-header">
            <h3>Category</h3>
        </div>
        <ul class="list-unstyled trending-nodes-list">
            <li class="active">
                <a href="#">
                    <div class="row">
                        <div class="small-9 column">Programming</div>
                        <div class="small-3 symbol-col column">
                            <i class="mdi mdi-menu-up"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="row">
                        <div class="small-9 column">Programming</div>
                        <div class="small-3 symbol-col column">
                            <i class="mdi mdi-menu-up"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="row">
                        <div class="small-9 column">Programming</div>
                        <div class="small-3 symbol-col column">
                            <i class="mdi mdi-menu-up"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="row">
                        <div class="small-9 column">Programming</div>
                        <div class="small-3 symbol-col column">
                            <i class="mdi mdi-menu-up"></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="company-widget undefined">
        <p>© 2016 · Hashnode · LinearBytes Inc.</p>
        <p>
            <a href="#">About</a>
            <span> </span>
            <a href="#">Terms</a>
            <span> </span>
            <a href="#">Privacy</a>
            <span> </span>
            <a href="#" target="_Blank">Report 2015</a>
        </p>
    </div>
</div>
{% endblock %}
<!-- End right sidebar -->

